node_modules
.DS_Store
dist
.next
.env
.env.local
.env.*.local
.env.production
.env.production.local
coverage
.turbo
.vscode
.idea
*.swp
*.swo
*~
.cache
.parcel-cache
.turbo
.turbo/cache
build/
.env.production.local
out/
pnpm-debug.log*
.vercel
.env*.local
